# Este archivo deshabilita la creación del archivo package-lock.json
# Esto es útil porque estamos utilizando Yarn como nuestro gestor de paquetes principal
# y queremos evitar conflictos entre package-lock.json y yarn.lock.
package-lock=false
